<detalle-monitor *ngIf="monitorSeleccionado" [monitor]="monitorSeleccionado"></detalle-monitor>

<div class="card border-dark mb-3">
    <div class="card-header">Monitores</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Listado de monitores</h5>
      

      <div class="my-2 text-left">
          <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-dark" type="button" [routerLink] = "['/monitores/form']">Crear Monitor</button>
      </div>

        <div class="table-responsive">
            <div *ngIf="monitores?.length == 0" class="aler alert-info" role="alert">
                No hay registros en la base de datos!
            </div>
            <table class="table table-bordered table-striped" *ngIf="monitores?.length>0">
                <thead>
                    <tr>
                        <th *ngIf="authService.hasRole('ROLE_ADMIN')">Perfil</th>
                        <th>Nro. Documento</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Deporte</th>
                        <!-- <th>Fecha Nacimiento</th> -->
                        <!-- <th>edad</th> -->
                        <!-- <th>Dirección</th>
                        <th>Teléfono
                        <th>Sexo</th>
                        <th>Activo</th>
                        <th>Fecha Creación</th> -->
                        <th *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
                        <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let monitor of monitores">                        
                        <td *ngIf="authService.hasRole('ROLE_ADMIN')">                           
                            <img (click)="openModalMonitor(monitor)" *ngIf="monitor?.foto" 
                            src="http://localhost:9091/v1/poli/monitores/uploads/img/{{monitor.foto}}" alt="{{monitor.foto}}" class="rounded my-1"
                            style="width: 50px; cursor: pointer;">

                            <img (click)="openModalMonitor(monitor)" *ngIf="!monitor?.foto" 
                            src="http://localhost:9091/v1/poli/images/no_user.png" alt="Sin foto" class="rounded my-1"
                            style="width: 50px; cursor: pointer;">
                        </td>
                        <td>{{ monitor.numeroDocumento }}</td>
                        <td>{{ monitor.nombrePersona | uppercase }}</td>
                        <td>{{ monitor.apellidoPersona | uppercase }}</td>
                        <td>{{ monitor.deporte != null && monitor.deporte.enabled ==true? monitor.deporte.nombreDeporte: 'Sin asignar' }}</td>
                        <!-- <td>{{ monitor.fechaNacimiento | date:"EEEE dd, MMMM yyyy" }}</td> -->
                        <!-- <td>{{ monitor.edad }}</td> -->
                        <!-- <td>{{ monitor.direccion }}</td>
                        <td>{{ monitor.telefono }}</td>
                        <td>{{ monitor.sexo }}</td>
                        <td>{{ monitor.enabled }}</td>
                        <td>{{ monitor.createAt | date:"EEEE dd, MMMM yyyy" }}</td> -->
                        <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                            <button type="button" name="editar" [routerLink] = "['/monitores/form', monitor.id]" class="btn btn-dark">Editar</button>
                        </td>
                        <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                            <button type="button" name="eliminar" (click) = "delete(monitor)" class="btn btn-rounded btn-danger">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            
            <app-paginador *ngIf="paginador" [paginador]="paginador" [enlacePaginador]="enlacePaginador"></app-paginador>
      
        </div>
      
    </div>
  </div>