<div class="card border-dark mb-3">
    <div class="card-header">Implementos</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Listado de implementos</h5>
      

      <div class="my-2 text-left">
          <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-dark" type="button" [routerLink] = "['/implementos/form']">Crear Implemento</button>
      </div>

        <div class="table-responsive">
            <div *ngIf="implementos?.length == 0" class="aler alert-info" role="alert">
                No hay registros en la base de datos!
            </div>
            <table class="table table-bordered table-striped" *ngIf="implementos?.length>0">
                <thead>
                    <tr>
                        <th *ngIf="authService.hasRole('ROLE_ADMIN')">Id</th>
                        <th>Nombre Implemento</th>
                        <th>Cantidad</th>
                        <th>Activo</th>
                        <th>Fecha Creación</th>
                        <th *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
                        <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let implemento of implementos">                        
                        <td *ngIf="authService.hasRole('ROLE_ADMIN')">{{ implemento.id }}</td>
                        <td>{{ implemento.nombreImplemento }}</td>
                        <td>{{ implemento.cantidad }}</td>
                        <td>{{ implemento.enabled }}</td>
                        <td>{{ implemento.createAt }}</td>
                        <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                            <button type="button" name="editar" [routerLink] = "['/implementos/form', implemento.id]" class="btn btn-rounded btn-dark">Editar</button>
                        </td>
                        <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                            <button type="button" name="eliminar" (click) = "delete(implemento)" class="btn btn-rounded btn-danger">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
      
        </div>
      
    </div>
  </div>