<div *ngIf="deportistaHabilidadesService.deportista_habilidades">
  

    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Asignar habilidades</h5>
          <!-- en el h6 va un link -->          
          <button type="button" class="btn btn-secondary btn-sm" (click)="cerrarDeportistaHabilidades()">Regresar</button>
          
          <form action="">
            <div class="form-group row">     

                <div class="col-sm">
                    <div class="my-2">
                        <p>Seleccione una habilidad de la lista desplegable</p>
                    </div>
                    <label for="nombreCategoria" class="col-form-label">Listado de habilidades:</label>
                    <br>
                    <!-- <select [compareWith]="compararCategoria" class="form-control" name="nombreCategoria" [(ngModel)]="deportista.categoria">
                        <option [ngValue]="undefined">---Seleccionar una categoría---</option>
                        <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{ categoria.nombreCategoria }}</option>
                    </select> -->
                    <mat-form-field class="example-full-width">
                        <mat-label>Habilidad</mat-label>
                        <input type="text"
                               placeholder="Añadir habilidad"
                               aria-label="Habilidad"
                               matInput
                               [formControl]="autocompleteControl"
                               [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="showName" (optionSelected)="selectHabilidad($event)">
                          <mat-option *ngFor="let habilidad of habilidadesFiltradas | async" [value]="habilidad">
                            {{ habilidad.nombreHabilidad }}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>

                </div>

            </div>

            <div class="form-group row">
                <div class="col-sm table-responsive">

                    <table class="table table-striped table-hover table-sm">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Nombre habilidad</th>   
                                <th>Eliminar</th>                             
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let habilidad of deportista.habilidades">
                                <td>{{ habilidad.id }}</td>
                                <td>{{ habilidad.nombreHabilidad }}</td>
                                <td>
                                    <button class="btn btn-danger btn-sm" type="button" 
                                    (click)="quitHabilidad(habilidad.id)">x</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm">
                    <button class="btn btn-dark btn-lg btn-block" role="button" (click)="asignarHabilidadesDeportista()">Guardar</button>

                    <!-- <ng-template #elseBlock2>
                        <button class="btn btn-dark btn-lg btn-block" role="button" (click)="updateHabilidadesDeportista()">Editar</button>
                    </ng-template> -->

                </div>
            </div>

          </form>

        </div>
      </div>

</div>
