<div id="sidebar-container" class="bg-sidebar">
    <div class="logo">
        <!-- <h4 class="text-light font-weight-bold my-3">Menu registros</h4> -->
    </div>
    <div>
        <ul class="menu">
            <li routerLinkActive="active"><a routerLink="/deportes">Deportes</a></li>
            <li routerLinkActive="active"><a routerLink="/categorias">Categorias</a></li>
            <li routerLinkActive="active"><a routerLink="/habilidades">Habilidades</a></li>
            <li routerLinkActive="active"><a routerLink="/escenarios">Escenarios</a></li>
            <li routerLinkActive="active"><a routerLink="/implementos">Implementos</a></li>
            <!-- <li><a href="#">Element #4</a></li>
            <li><a href="#">Element #5</a></li> -->
        </ul>
    </div>
</div>
